/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utility */
.debug {
    border: 1px solid black;
    /* background-color: deepskyblue; */
}

/* .clearfix {
    content: "";
    display: table;
    clear: both;
} */

/* General */
body {
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #23272a;
}

.container{
    width: 80%;
    margin: 0 auto;
}

/* Header  */
header{
    height: 80px;
    line-height: 80px;
    background-color: #3161e0;
}
nav .logo{
    float: left;
}
nav .logo img{
    vertical-align: middle;
}

nav ul {
    list-style-type: none;
    width: 70%;
    text-align: center;
}
nav ul li {
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    margin: 0 20px;
    color: white;
}
nav ul li a:hover {
    border-bottom: 1px solid white;
}
.btn