/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utility */
.debug {
    border: 1px solid black;
    /* background-color: deepskyblue; */
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

/* General */
body { 
    min-width: 1200px;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #23272a;
}

.container{
    width: 90%;
    margin: 0 auto;
    position: relative;
    border: 10px solid green;
}

.btn{
    background-color: white;
    font-size: 14px;
    color: #23272a;
    display: inline;
    padding: 10px 20px;
    border-radius: 15px;
}

.btn-white{
    background-color: white;
    color: #23272a;
}
.btn-black{
    background-color: #23272a;
    color: white;
}

a {
    text-decoration: none;
    color: black;
}


/* Header  */
header{
    width: 100%;
    height: 80px;
    line-height: 80px;
    background-color: rgba(49,97,224,255);
    position: fixed;
}

nav .logo, nav ul{
    float: left;
}
nav .logo img{
    vertical-align: middle;
}

nav ul {
    list-style-type: none;
    width: 70%;
    text-align: center;
    font-size: 14px;
}
nav ul li {
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    margin: 0 20px;
    color: white;
}
nav ul li a:hover {
    border-bottom: 1px solid white;
}
.accedi{
    margin-top: 20px;
    line-height: 10px;
}

/* Main */

.jumbotron{
    border: 10px solid yellow;
    margin-top: 70px;
    
}
.jumbotron img{
    max-width: 100%;
    object-fit: cover;
    z-index: -1;
}
.jumbotron h1{
    text-align: center;
    font-size: 40px;
    color: white;
    padding: 10px;
    
}
.jumbotron p{
    width: 70%;
    margin: 20px auto;
    text-align: center;
    color: white;
    line-height: 1.5;
    font-size: 14px;
}
.jumbotron ul {
    width: 60%;
    margin: 30px auto;
    position: relative;
    text-align: center;
}

/* Section-1 */
.section-1 {
 border: 1px solid blue;
 width: 100%;
 margin: 0 auto;
}
.row { 
    border: 1px solid green;
    width: 90%;
    margin: 50px auto;
    padding: 10px;
    position: relative;
}
.col{
    width: 90%;
    margin: 0 auto;
}
.col-left {
float: left;
width: 60%;
}
.col-right {
float: right;
width: 40%;
}

.col-img img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.col-title{
    width: 70%;
    margin-left: 20%;
    padding: 10px 0 10px 70px;
    font-size: 40px;
}
.col-text {
    width: 70%;
    margin-left: 20%;
    padding: 10px 0 10px 70px;
    font-size: 14px;
}
/* Wave */

.wave{
   color: #f6f6f6;
   margin-bottom: -10px; 
}
.reverse{
    transform: rotate(180deg);
    margin-top: -10px; 
}
.row-wave{
    background-color: #f6f6f6;
    width: 90%;
    margin: 0x auto;
    padding: 10px;
    position: relative;    
}
